# --- Home Assistant & Blueprint ---
# Ignora file di configurazione con dati sensibili
secrets.yaml
.storage/
*.db
*.db-shm
*.db-wal

# --- Sistema Operativo ---
.DS_Store
Thumbs.db
*.log

# --- Editor (VS Code) ---
.vscode/
.history/

# --- File temporanei ---
*.tmp
*.bak
